body {
    background-color: teal;
    color: white;
    text-align: center;
}

button {
    background-color: white;
    color: teal;
    border-radius: 5px;
    margin-left: 10px;
    height: 25px;
}

#ticTacToe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 5px;
}

.square {
    height: 150px;
    width: 150px;
    margin-left: 0;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}


@media screen and (max-width: 556px) {

    #ticTacToe {
        width: 90vw;
        height: 90vw;
    }

    .square {
        height: 27vw;
        width: 27vw;
        font-size: 25px;
    }

}


@media screen and (max-height: 700px) {

    #ticTacToe {
        width: 45vh;
        height: 45vh;
    }

    .square {
        height: 14vh;
        width: 14vh;
        font-size: 25px;
    }

}
